.header-wrapper {
  width: 1349px;
  display: none;
  h1 {
    margin-left: 29px;
  }
  nav {
    padding-left: 6.5%;
    text-align: center;
    ul {
      margin-top: 40px;
      li {
        margin: 0 17px;
        display: inline;
      }
    }

  }
}

