.container {
  padding: 0 30px;
  width: 1340px;
  max-width: 100%;
  .container-app {
    width: 970px;
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    .home-section {
      padding: 90px 0;
    }
  }
}

.top-wrapper {
  width: 50%;
  display: block;
  margin-bottom: 65px;
  .wrapper {
    width: 370px;
    max-width: 100%;
    .content-title {
      font-size: 52px;
    }
    p {
      font-size: 18px;
      line-height: 1.8;
      font-family: "copernicus", serif;
    }
  }
}

.read-more{
  display: flex;
  flex-direction: column;
  width: 23%;
  .text-span{

  }
  .decoration-span{
    height: 20px;
    border-bottom: 2px solid #D1AD8A;
  }
}
