.header-wrapper {
  padding-right: 440px;
  .nav-left {
    height: 800px;
    overflow: hidden;
    position: relative;
    display: block;
    box-sizing: border-box;
    .slick-track{
      opacity: 1;
      width: 909px;
      .image-wrapper{
        img{
          width: 100%;
        }
        width: 909px;
        position: relative;
        left: 0px;
        top: 0px;
        z-index: 999;
        opacity: 1;
      }
    }

  }
  .nav-right {
    height: 150px;
    width: 383px;
    position: absolute;
    right: 0;
    top: 0;
  }
}
