main {
  padding-top: 80px;
  .inner {
    padding-bottom: 232px;
    margin-bottom: -232px;
    min-height: 100%;
    .img-block {
      position: relative;
      width: 100%;
      height: 100%;
      .logo {
        position: absolute;
        left: 35%;
        width: 400px;
        z-index: 3;
        margin-top: -30px;
        transition: 1s;
      }
      img {
        width: 100%;
        height: 100%;
        left: -301.5px;
        top: 0px;
      }
    }
  }
}



.frontPage-blocks {
  padding-top: 210px;
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, .01);
  .block-wrapper {
    padding-top: 134px;
    background-color: #fff;
    .row {
      padding-left: 69px;
      padding-right: 69px;
    }
    .no-padding {
      padding: 0;
    }
  }
}

.frontPage-ingress {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  width: 60%;
  padding-left: 80%;
  float: right;
  margin-left: 0;
  margin-bottom: 130px;
  padding: 0 16px;
  font-size: 1.65em;
  line-height: 1.303030303;
}

.frontPage-list-article {
  margin-bottom: 130px;
  padding: 0 16px;
  .image-wrapper {
    margin-bottom: 35px;
  }
}

.num-1 {
  width: 30%;
  padding-right: 10px;
  float: left;
  img {
    width: 400px;
  }
}

.num-2 {
  width: 60%;
  padding-left: 80px;
  float: left;
  img {
    width: 100%;
  }
}

.num-3 {
  float: left;
  padding: 0;
  width: 83%;
}

.num-4 {
  width: 60%;
  float: left;
  padding-right: 80px;
  img {
    width: 733px;
  }
}

.num-5 {
  width: 30%;
  float: right;
  img {
    width: 412px;
  }
}

.article-title {
  font-family: Tahoma;
  font-size: 1.5em;
}

.article-image {
  transition: 0.5s;
  transform: scale(1);
  &:hover {
    transition: 0.5s;
    transform: scale(1.1);
  }
}
